absl-py
altair
appnope
asttokens
astunparse
attrs
blinker
cachetools
certifi
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
executing
flatbuffers
fonttools
gast
gitdb
GitPython
google-pasta
grpcio
h5py
idna
ipykernel
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
namex
narwhals
nest-asyncio
numpy
opencv-python
opt-einsum
optree
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
pyzmq
referencing
requests
rich
rpds-py
scipy
setuptools
six
smmap
stack-data
streamlit
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
toml
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
wheel
wrapt
